services:
  postgres:
    ports: []   # НЕ публикуем Postgres наружу в проде
    environment:
      TZ: Asia/Almaty

  bot:
    volumes: [] # НЕ монтируем код в проде
    environment:
      TZ: Asia/Almaty
    stop_grace_period: 30s
